@import "reset";
@import "variables";
@import "utilities";

html {
  overflow-y: scroll;
}

body {
  font-size: 12px;
  line-height: 1.5;
  @extend %georgia;
  background-color: $dark-gray;
  color: $white;
  font-smoothing: antialiased;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.container {
  width: 1400px;
  max-width: 95%;
}
// =====================
// Typography
// =====================

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
 font-size: 32px;
}

h3, .h3 {
  font-size: 28px;
}

h4, .h4 {
  font-size:26px;
}

h5, .h5 {
  font-size: 24px;
}

h6, .h6 {
  font-size: 22px;
}

p, .p {
  font-size: 18px;
}

.small {
  font-size: 16px;
}

.font--headline {
  font-size: 58px;
}

.font--sub-headline {
  font-size: 54px;
}

.line-height-1 {
  line-height: 1;
}

// =====================
// Links + Buttons
// =====================

a {
  color: #FFF;
  &:focus, &:active, &:hover,  {
    @include transition(all, 0.3s, linear);
    color: $yellow;
    text-decoration: none;
  }
}

.btn {
  @extend %montserrat;
  border-radius: 3px;
  color: $black;
  text-align: center;
  font-size: 16px;
  padding: 5px 40px;
}

.btn-yellow {
  background-color: $yellow;
  border: 2px solid $yellow;
  @include transition(all, 0.1s, linear);
  &:hover, &:focus, &:active {
    background-color: transparent;
    border-color: $yellow;
    color: $yellow;
  }
}

.btn-small {
  @include transition(all, 0.1s, linear);
  border-radius: 3px;
  display: inline-block;
  font-size: 18px;
  padding: 5px 10px;
  line-height: 1;
}

.btn-small--inline {
  padding: 5px;
}


.btn-small--white {
  background-color: $white;
  border-top: 1px solid $white;
  border-left: 1px solid $white;
  border-right: 1px solid $white;
  border-bottom: 1px solid #ccc;
  color: $black;
  &:hover, &:active, &:focus {
    background-color: $off-white;
    border-color: $black;
    color: $black;
  }
}

.btn-small--gray {
  background-color: $lightest-gray;
  border-top: 1px solid $lightest-gray;
  border-left: 1px solid $lightest-gray;
  border-right: 1px solid $lightest-gray;
  border-bottom: 1px solid $black;
  color: $white;
  &:hover, &:active, &:focus {
    background-color: transparent;
    border-color: $black;
    color: $white;
  }
}

// =====================
// Custom Styles
// =====================

.pa-logo {
  font-size: 40px;
}

.proudly-presents {
  background-color: $mid-dark-gray;
  padding: 0 10px;
  position: absolute;
    bottom: -16px;
    left: 50px;
  p {
    font-size: 14px;
    line-height: 1.2;
  }
}

.sliced-background {
  position: relative;
  &:after {
    background-color: $darkest-gray;
    height: 450px;
    width: 120%;
    content: "";
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
    position: absolute;
      bottom: -135px;
      left: -63px;
    z-index: 0;
  }
}

.absolute-results {
  position: absolute;
  background-color: $yellow;
  top: 0;
  right: 0;
  color: $black;
  height: 100%;
  padding: 25px;
}

.absolute-results--text {
  position: relative;
  top: 50%;
  margin-top: -42px;
  text-align: center;
}
.absolute-results--2014 {
  right: 30px;
}
.absolute-results--2012 {
  right: 50px;
}

.absolute-results--2009 {
  right: 80px;
}

.absolute-photo {
  position: absolute;
  left: 0;
}

.results-chart__bar {
  display: inline-block;
  background-color: $yellow;
  color: $black;
  text-align: center;
  margin: 1px 1px;
  padding: 25px 5px;
  vertical-align: bottom;
}

.results-chart__2014 {
  padding: 20px 5px;
}

.results-chart__2012 {
  padding: 15px 5px;
}

.results-chart__2009 {
  padding: 10px 5px;
}
