//borders and fonts using 2018 colors and styles
.montserrat-text, %montserrat-text {
  font-family: $montserrat;
  font-size: 14px;
}

.border--yellow {
  border: $yellow solid 2px;
}

.border--teal {
  border: $teal solid 2px;
}

.border--blue {
  border: $blue solid 2px;
}

.font--yellow {
  color: $yellow;
}

.font--teal {
  color: $teal;
}

.font--blue {
  color: $blue;
}

.font--coral {
  color: $coral;
}

//buttons
.btn-yellow {
  background-color: $yellow;
  border: 2px solid $yellow;
  border-radius: 3px;
  color: $black;
  font-size: 16px;
  font-family: $montserrat;
  margin: 20px 5px;
  padding: 5px 10px;
  @include transition(all, 0.1s, linear);
  &:hover, &:active {
    background-color: transparent;
    border-color: $yellow;
    color: $yellow;
    outline-style: none;
    box-shadow: none;
  }
  //replicated CSS needed to eliminate unwanted focus effect
  &:focus {
    background-color: $yellow;
    border: 2px solid $yellow;
    border-radius: 3px;
    color: $black;
    font-size: 16px;
    font-family: $montserrat;
    margin: 20px 5px;
    padding: 5px 10px;
    outline-style: none;
    box-shadow: none;
  }
}

.btn--ghost {
  background-color: transparent;
  border: 2px solid $yellow;
  color: $yellow;
  &:hover, &:active, &:focus {
    background-color: $yellow;
    border-color: $black;
    color: $black;
    outline-style: none;
    box-shadow: none;
  }
}

//general use styles
ol li {
  font-size: 22px;
  list-style-type: none;
}

.icon {
  width: 30px;
}

.wordcloud {
  width: 100%;
  max-width: 600px;
}

.quote-mark {
  font-size: 75px;
}

.quote {
  margin-top: -30px;
}


//chart grid styles
.ct-label {
  fill: $white;
  color: $white;
  font-family: $montserrat;
}

.ct-grid {
  stroke: $light-gray;
  stroke-width: 2px;
  stroke-dasharray: 2px;
}

.ct-bar {
  stroke-width: 50px;
}

.pie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//y axis label
.ct-axis-title {
  fill: $white;
  font-family: $montserrat;
}

// gauge chart styles
.ct-gauge {
  margin-bottom: -170px;
}
.gauge-label {
  font-size: 75px;
}


//tooltip styles
.chartist-tooltip {
  position: absolute;
  display: inline-block;
  min-width: 5em;
  padding: .5em;
  margin-left: 15px;
  margin-top: -16px;
  background: $lighter-gray;
  color: $white;
  font-family: $montserrat;
  font-weight: 400;
  text-align: center;
  pointer-events: none;
  &:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border-top-color: $lighter-gray;
  }
}

//sets the custom color values for chart legends
//if you add another chart series you need to add the color here as well
$ct-series-colors:
($yellow,
$coral,
$blue,
$dark-green,
$teal,
$washed-gray,
$purple
);

//custom color values for charts
.ct-series-a {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: $yellow;
  }

  .ct-slice-pie, .ct-slice-donut-solid, .ct-area {
    fill: $yellow;
  }
}

.ct-series-b {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: $coral;
  }

  .ct-slice-pie, .ct-slice-donut-solid, .ct-area {
    fill: $coral;
  }
}

.ct-series-c {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: $blue;
  }

  .ct-slice-pie, .ct-slice-donut-solid, .ct-area {
    fill: $blue;
  }
}

.ct-series-d {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: $dark-green;
  }

  .ct-slice-pie, .ct-slice-donut-solid, .ct-area {
    fill: $dark-green;
  }
}

.ct-series-e {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: $teal;
  }

  .ct-slice-pie, .ct-slice-donut-solid, .ct-area {
    fill: $teal;
  }
}

.ct-series-f {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: $washed-gray;
  }

  .ct-slice-pie, .ct-slice-donut-solid, .ct-area {
    fill: $washed-gray;
  }
}

.ct-series-g {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: $purple;
  }

  .ct-slice-pie, .ct-slice-donut-solid, .ct-area {
    fill: $purple;
  }
}

//legend styles
.ct-legend {
  z-index: 0;
  line-height: 1;
  margin-bottom: 5px;

  li {
    display: inline-block;
    padding-left: 12px;
    margin: 7px 5px;
    color: $white;
    font-size: 12px;
    font-family: $montserrat;
    &:before {
      left: -2px;
      margin-right: 5px;
      content: '';
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 0px;
      border-top: 0px;
      border-radius: 50%;
    }
    &.inactive:before {
      background: transparent;
    }
  }

  @for $i from 0 to length($ct-series-colors) {
    .ct-series-#{$i}:before {
      background-color: nth($ct-series-colors, $i + 1);
      border-color: nth($ct-series-colors, $i + 1);
    }
  }
}


//media queries

@media (max-width: $large-screen) {
  .icon-pa-site-logo {
    font-size: 33px;
    padding: 0 12px;
  }

  .navigation {
    .h4 {
      font-size: 17px;
    }
    .padding-md {
      padding: 30px 15px;
    }
  }

  .nav-list {
    margin-left: 10px;
  }

  .ct-bar {
    stroke-width: 30px;
  }

  .gauge-label {
    font-size: 60px;
  }
}

@media (max-width: $medium-screen) {
  .nav-list {
    display: none;
  }

  .mobile-nav-trigger {
    display: block;
  }

  .icon-pa-site-logo {
    font-size: 41px;
    padding: 0 20px;
  }

  .gauge-label {
    font-size: 50px;
  }

  .ct-bar {
    stroke-width: 30px;
  }
}

@media (max-width: $small-screen) {
  .mobile-nav-trigger {
    padding:40px 18px;
  }

  .ct-gauge {
    margin-bottom: -150px;
  }

  .gauge-label {
    font-size: 45px;
  }

  .footer-logo {
    width: 100px;
    margin-bottom: 20px;
  }

  .ct-bar {
    stroke-width: 18px;
  }
}

@media (max-width: $xsmall-screen) {
  .display--none__mobile {
    display: none;
  }

  .nav-list {
    display: none;
  }

  .mobile-nav-trigger {
    display: block;
    padding: 10px;
  }

  .icon-pa-site-logo {
    font-size: 30px;
    padding: 10px;
    margin: 0;
  }

  .icon-hamburger {
    font-size: 30px;
  }

  .social-block {
    display:none;
  }

  .proudly-presents {
    display: none;
  }

  .navigation {
    border-bottom: 3px solid $yellow;
    .h4 {
      font-size:12px;
    }
    .padding-md {
      padding: 10px;
    }
  }

  .ct-bar {
    stroke-width: 12px;
  }

  .btn-yellow {
    font-size: 12px;
    padding: 5px;
  }

  h1, .h1 {
    font-size: 40px;
  }

  h2, .h2 {
    font-size: 32px;
  }

  h3, .h3 {
    font-size: 20px;
  }

  .font--headline {
    font-size: 45px;
  }

  .margin-bottom-grand {
    margin-bottom: 100px;
  }

  .margin-top-grand {
    margin-top: 100px;
  }

  .ct-label {
    font-size: 0.55em;
  }
}
