
.border--yellow {
  border: $yellow solid 2px;
}

.border--teal {
  border: $teal solid 2px;
}

.border--blue {
  border: $blue solid 2px;
}

.font--yellow {
  color: $yellow;
}

.font--teal {
  color: $teal;
}

.font--blue {
  color: $blue;
}

.font--coral {
  color: $coral;
}

.btn-yellow {
  background-color: $yellow;
  border: 2px solid $yellow;
  border-radius: 3px;
  color: $black;
  font-size: 16px;
  font-family: $montserrat;
  margin: 20px 5px;
  padding: 5px 10px;
  @include transition(all, 0.1s, linear);
  &:hover, &:focus, &:active {
    background-color: transparent;
    border-color: $yellow;
    color: $yellow;
    outline-style: none;
    box-shadow: none;
  }
}
.montserrat-text, %montserrat-text {
  font-family: $montserrat;
  font-size: 14px;
}

.btn--ghost {
  background-color: transparent;
  border: 2px solid $yellow;
  color: $yellow;
  &:hover, &:active, &:focus {
    background-color: $yellow;
    border-color: $black;
    color: $black;
    outline-style: none;
    box-shadow: none;
  }
}
//general use styles
ol li {
  font-size: 22px;
  list-style-type: none;
}

.icon {
  width: 30px;
}

.quote-mark {
  font-size: 75px;
}

.quote {
  margin-top: -30px;
}

.wordcloud {
  width: 100%;

}

//general chart grid styles
.ct-label {
  fill: $white;
  color: $white;
  font-family: $montserrat;
}

.ct-grid {
  stroke: $light-gray;
  stroke-width: 2px;
  stroke-dasharray: 2px;
}

.ct-bar {
  stroke-width: 50px;
}

.pie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// gauge chart styles
.ct-gauge {
  margin-bottom: -170px;
}
.gauge-label {
  font-size: 75px;
}

//y axis label
.ct-axis-title {
  fill: $white;
  font-family: $montserrat;
}

//tooltip styles
.chartist-tooltip {
  background: $lighter-gray;
  color: $white;
  font-family: $montserrat;
  font-weight: 400;
  top: 0;
  &:before {
    border-top-color: $lighter-gray;
  }
}

//setting the color series values for chart legends
$ct-series-colors:
  ($yellow,
  $coral,
  $blue,
  $dark-green,
  $teal,
  $washed-gray,
  $purple
  );

//setting the color values for chart series
.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: $yellow; }

.ct-series-a .ct-slice-pie, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-area {
  fill: $yellow; }

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut{
  stroke: $coral; }

.ct-series-b .ct-slice-pie, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-area {
  fill: $coral; }

.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
  stroke: $blue; }

.ct-series-c .ct-slice-pie, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-area {
  fill: $blue; }

.ct-series-d .ct-point, .ct-series-d .ct-line, .ct-series-d .ct-bar, .ct-series-d .ct-slice-donut {
  stroke: $dark-green; }

.ct-series-d .ct-slice-pie, .ct-series-d .ct-slice-donut-solid {
  fill: $dark-green; }

.ct-series-e .ct-point, .ct-series-e .ct-line, .ct-series-e .ct-bar, .ct-series-e .ct-slice-donut {
  stroke: $teal; }

.ct-series-e .ct-slice-pie, .ct-series-e .ct-slice-donut-solid, .ct-series-e .ct-area {
  fill: $teal; }

.ct-series-f .ct-point, .ct-series-f .ct-line, .ct-series-f .ct-bar, .ct-series-f .ct-slice-donut {
  stroke: $washed-gray; }

.ct-series-f .ct-slice-pie, .ct-series-f .ct-slice-donut-solid, .ct-series-f .ct-area {
  fill: $washed-gray; }

.ct-series-g .ct-point, .ct-series-g .ct-line, .ct-series-g .ct-bar, .ct-series-g .ct-slice-donut {
  stroke: $purple; }

.ct-series-g .ct-slice-pie, .ct-series-g .ct-slice-donut-solid, .ct-series-g .ct-area {
  fill: $purple; }

//legend styles
.ct-legend {
    z-index: 0;
    line-height: 1;
    margin-bottom: 5px;

    li {
      display: inline-block;
      padding-left: 12px;
      margin: 7px 5px;
      color: $white;
      font-size: 12px;
      font-family: $montserrat;
    }

    li:before {
      left: -2px;
      margin-right: 5px;
      content: '';
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 0px;
      border-top: 0px;
      border-radius: 50%;
  }

    li.inactive:before {
      background: transparent;
    }


    @for $i from 0 to length($ct-series-colors) {
      .ct-series-#{$i}:before {
          background-color: nth($ct-series-colors, $i + 1);
          border-color: nth($ct-series-colors, $i + 1);
      }
  }
}


@media (max-width: $large-screen) {
  .icon-pa-site-logo {
    font-size: 33px;
    padding: 0 12px;
  }
  .navigation {
    .h4 {
      font-size: 17px;
    }
    .padding-md {
      padding: 30px 15px;
    }
  }
  .xtra-large {
    font-size: 50px;
  }
  .nav-list {
    margin-left: 10px;
  }
  .ct-bar {
    stroke-width: 50px;
  }
  .gauge-label {
    font-size: 60px;
  }
}
@media (max-width: $medium-screen) {
  .nav-list {
    display: none;
  }
  .mobile-nav-trigger {
    display: block;
  }
  .icon-pa-site-logo {
    font-size: 41px;
    padding: 0 20px;
  }
  .gauge-label {
    font-size: 50px;
  }
  .ct-bar {
    stroke-width: 20px;
  }

}

@media (max-width: $small-screen) {
  .mobile-nav-trigger {
    padding:40px 18px;
  }

  .ct-gauge {
    margin-bottom: -150px;
  }
  .gauge-label {
    font-size: 45px;
  }
  .footer-logo {
    width: 100px;
    margin-bottom: 20px;
  }

}

@media (max-width: $xsmall-screen) {
  .display--none__mobile {
    display: none;
  }
  .nav-list {
    display: none;
  }
  .mobile-nav-trigger {
    display: block;
    padding: 10px;
  }
  .icon-pa-site-logo {
    font-size: 30px;
    padding: 10px;
    margin: 0;
  }
  .icon-hamburger {
    font-size: 30px;
  }
  .social-block {
    display:none;
  }
  .proudly-presents {
    display: none;
  }
  .navigation {
    border-bottom: 3px solid $yellow;
    .h4 {
      font-size:12px;
    }
    .padding-md {
      padding: 10px;
    }
  }
  .xtra-large {
    font-size: 20px;
  }

  .ct-bar {
    stroke-width: 10px;
  }
  .btn-yellow {
    font-size: 12px;
    padding: 5px;
  }

  h1, .h1 {
    font-size: 40px;
  }

  h2, .h2 {
    font-size: 32px;
  }
  h3, .h3 {
    font-size: 20px;
  }

  .font--headline {
    font-size: 45px;
  }

  .margin-bottom-grand {
    margin-bottom: 100px;
  }

  .margin-top-grand {
    margin-top: 100px;
  }

  .ct-label {
    font-size: 0.55em;
  }
}
